
<?xml version="1.0"?>
<model>
  <name>owada_left_hand_raising</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>Author Name</name>
    <email>author@example.com</email>
  </author>
  <description>
    A description of the owada_left_hand_raising model.
  </description>
</model>
