<?xml version="1.0"?>

<model>
  <name>Ground Plane for RCJO2025</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>OnoFumiya</name>
    <email>fumiyaono.choi@gmail.com</email>
  </author>

  <description>
    Ground plane model for RCJO2025 competition.
  </description>
</model>
