<?xml version="1.0" ?>
<sdf version="1.8" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- TODO: allow xacro -->
  <xacro:arg name="fast_physics" default="true" />
  <xacro:arg name="trofast_knob" default="true" />
  <xacro:arg name="highrtf" default="false" />

  <world name='rcjo2025_arena'>
    <plugin
        filename="gz-sim-physics-system"
        name="gz::sim::systems::Physics">
    </plugin>

    <plugin
        filename="gz-sim-user-commands-system"
        name="gz::sim::systems::UserCommands">
    </plugin>

    <plugin
        filename="gz-sim-scene-broadcaster-system"
        name="gz::sim::systems::SceneBroadcaster">
    </plugin>

    <plugin
        filename="gz-sim-sensors-system"
        name="gz::sim::systems::Sensors">
    </plugin>

    <physics name="1ms" type="ignored">
        <max_step_size>0.001</max_step_size>
        <real_time_factor>1.0</real_time_factor>
    </physics>
    
    <!--light-->
    <light type="directional" name="sun">
      <cast_shadows>true</cast_shadows>
      <pose relative_to=''>0 0 10 0 0 0</pose>
      <diffuse>0.8 0.8 0.8 1</diffuse>
      <specular>0.2 0.2 0.2 1</specular>
      <attenuation>
          <range>1000</range>
          <constant>0.9</constant>
          <linear>0.01</linear>
          <quadratic>0.001</quadratic>
      </attenuation>
      <direction>-0.5 0.1 -0.9</direction>
    </light>

    <!--gravity-->
    <gravity>0 0 -9.8</gravity>

    <!-- Import models -->
    <!-- Global Models -->
    <include>
      <name>rcjo2025_arena_floor</name>
      <static>1</static>
      <uri>model://rcjo2025_arena/floor</uri>
      <pose relative_to=''>0 0 0 0 0 0</pose>
    </include>

    <include>
      <name>rcjo2025_arena_frame</name>
      <static>1</static>
      <uri>model://rcjo2025_arena/frame</uri>
      <pose relative_to=''>0 0 0 0 0 0</pose>
    </include>
    <!-- Global Models -->

  </world>
</sdf>
